# Node build artifacts
node_modules/
dist/
.next/

# Dependency directories
.pnp
.pnp.js

# Log files
npm-debug.log
yarn-error.log
pnpm-debug.log
*.log

# Local environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS-specific files
.DS_Store
Thumbs.db

# Editor & IDE settings
.idea/
.vscode/
*.swp

# Next.js static exports
out/

# Typescript build cache
*.tsbuildinfo

# Coverage reports
coverage/